#navbar {
    display: flex;
    position: relative;
    width: fit-content;
	margin-top: auto;
    margin-left: auto;
}
#navbar a {
    margin-right: 1vw;
	color:white;
}

header{
	display: flex;
	background-color: var(--dark-color);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;	/*box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;*/

}

